<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                        class="form-control"
                        placeholder="Search Attendee.."
                        #txtSearch/>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast"
        *ngIf="loading">
    <div class="col-12">

        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Loading</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-o">Please Wait</p>
        </div>

    </div>
</div>

<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Attendee  list</h4>
                <h6 class="card-subtitle">Total Attendees </h6>
                <div class="table-responsive">

                    

                    <div class="row m-t-40">
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card">
                                <div class="box bg-info text-center">
                                    <h1 class="font-light text-white"></h1>
                                    <h6 class="text-white">Capacity</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card">
                                <div class="box bg-primary text-center">
                                    <h1 class="font-light text-white">{{attendees.length}}</h1>
                                    <h6 class="text-white">Registered</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card">
                                <div class="box bg-success text-center">
                                    <h1 class="font-light text-white">{{confirmed.length}}</h1>
                                    <h6 class="text-white">Confirmed</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card">
                                <div class="box bg-dark text-center">
                                    <h1 class="font-light text-white">{{noAttend.length}}</h1>
                                    <h6 class="text-white">Not Attended</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                    </div>



                    <!-- List Table -->

                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list footable-loaded footable" data-page-size="10">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let attendee of attendees" class="footable-even" style="">
                                <td>{{attendee.name}}</td>
                                <td>{{attendee.lastName}}</td>
                                <td>{{attendee.email}}</td>
                                <td>{{attendee.phoneNumber}}</td>
                                <td>{{attendee.status}}</td>
                                <td class="text-center">
                                    <a data-toggle="tooltip" 
                                        data-original-title="Confirm"
                                        class="cursor">
                                        <i class="fa fa-check text-inverse m-r-10"                        
                                        (click)="confirmAttendee(attendee,'Confirmed')"></i> 
                                    </a>
                                    <a data-toggle="tooltip" 
                                        data-original-title="Edit"
                                        class="cursor"
                                        (click)="updateAttendee(attendee)"> 
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                    </a>

                                    <a data-toggle="tooltip" 
                                        data-original-title="Delete"
                                        class="cursor"
                                        (click)="deleteAttendee(attendee)"> 
                                        <i class="fa fa-close text-danger"></i> 
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            
                        </tfoot>
                    </table>
                    <div *ngIf="txtSearch.value.length === 0">
                        <button  class="btn btn-secondary">Previous</button>
                        &nbsp;
                        <button  class="btn btn-secondary">Next</button>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Swipe Table</h4>
        <h6 class="card-subtitle">The Column Swipe Table allows the user to select which columns they want to be visible.</h6>
        <div class="tablesaw-bar mode-swipe">
            <div class="tablesaw-advance">
                <a href="#" class="tablesaw-nav-btn btn btn-micro left disabled" title="Previous Column">

                </a>
                <a href="#" class="tablesaw-nav-btn btn btn-micro right" title="Next Column">

                </a>
            </div>
        </div>
        <table class="tablesaw table-bordered table-hover table tablesaw-swipe" 
               data-tablesaw-mode="swipe" 
               id="table-1143" 
               style="">
            <thead>
                <tr>
                    <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist" class="tablesaw-cell-persist">Name</th>
                    <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="">Email</th>
                    <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2" class="tablesaw-cell-hidden">Phone</th>
                    <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1" class="tablesaw-cell-hidden">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="title tablesaw-cell-persist"><a class="link" href="javascript:void(0)">Avatar</a></td>
                    <td class="">1</td>
                    <td class="tablesaw-cell-hidden">2009</td>
                    <td class="tablesaw-cell-hidden">83%</td>
                    <td class="tablesaw-cell-hidden">$2.7B</td>
                </tr>
                <tr>
                    <td class="title tablesaw-cell-persist"><a class="link" href="javascript:void(0)">Titanic</a></td>
                    <td class="">2</td>
                    <td class="tablesaw-cell-hidden">1997</td>
                    <td class="tablesaw-cell-hidden">88%</td>
                    <td class="tablesaw-cell-hidden">$2.1B</td>
                </tr>
                <tr>
                    <td class="title tablesaw-cell-persist"><a class="link" href="javascript:void(0)">The Avengers</a></td>
                    <td class="">3</td>
                    <td class="tablesaw-cell-hidden">2012</td>
                    <td class="tablesaw-cell-hidden">92%</td>
                    <td class="tablesaw-cell-hidden">$1.5B</td>
                </tr>
                <tr>
                    <td class="title tablesaw-cell-persist"><a class="link" href="javascript:void(0)">Harry Potter and the Deathly Hallows—Part 2</a></td>
                    <td class="">4</td>
                    <td class="tablesaw-cell-hidden">2011</td>
                    <td class="tablesaw-cell-hidden">96%</td>
                    <td class="tablesaw-cell-hidden">$1.3B</td>
                </tr>
                <tr>
                    <td class="title tablesaw-cell-persist"><a class="link" href="javascript:void(0)">Frozen</a></td>
                    <td class="">5</td>
                    <td class="tablesaw-cell-hidden">2013</td>
                    <td class="tablesaw-cell-hidden">89%</td>
                    <td class="tablesaw-cell-hidden">$1.2B</td>
                </tr>
                <tr>
                    <td class="title tablesaw-cell-persist"><a class="link" href="javascript:void(0)">Iron Man 3</a></td>
                    <td class="">6</td>
                    <td class="tablesaw-cell-hidden">2013</td>
                    <td class="tablesaw-cell-hidden">78%</td>
                    <td class="tablesaw-cell-hidden">$1.2B</td>
                </tr>
                <tr>
                    <td class="title tablesaw-cell-persist"><a class="link" href="javascript:void(0)">Transformers: Dark of the Moon</a></td>
                    <td class="">7</td>
                    <td class="tablesaw-cell-hidden">2011</td>
                    <td class="tablesaw-cell-hidden">36%</td>
                    <td class="tablesaw-cell-hidden">$1.1B</td>
                </tr>
                <tr>
                    <td class="title tablesaw-cell-persist"><a class="link" href="javascript:void(0)">The Lord of the Rings: The Return of the King</a></td>
                    <td class="">8</td>
                    <td class="tablesaw-cell-hidden">2003</td>
                    <td class="tablesaw-cell-hidden">95%</td>
                    <td class="tablesaw-cell-hidden">$1.1B</td>
                </tr>
                <tr>
                    <td class="title tablesaw-cell-persist"><a class="link" href="javascript:void(0)">Skyfall</a></td>
                    <td class="">9</td>
                    <td class="tablesaw-cell-hidden">2012</td>
                    <td class="tablesaw-cell-hidden">92%</td>
                    <td class="tablesaw-cell-hidden">$1.1B</td>
                </tr>
                <tr>
                    <td class="title tablesaw-cell-persist"><a class="link" href="javascript:void(0)">Transformers: Age of Extinction</a></td>
                    <td class="">10</td>
                    <td class="tablesaw-cell-hidden">2014</td>
                    <td class="tablesaw-cell-hidden">18%</td>
                    <td class="tablesaw-cell-hidden">$1.0B</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>