<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">My Profile</h4>
                <h6 class="card-subtitle">Information</h6>
                
                <div class="card-body">
                    <div class="m-t-30"> <img [src]="user.imagenUrl" class="img-circle" width="150" />
                        <h4 class="card-title m-t-10">{{user.name}} {{user.lastName}}</h4>
                        <h6 class="card-subtitle">{{user.role}}</h6>
                        <small class="text-muted">Email address </small>
                        <h6>{{user.email}}</h6> 
                        <small class="text-muted p-t-30 db">Phone</small>
                        <h6>+91 654 784 547</h6> 
                        <small class="text-muted p-t-30 db">Address</small>
                        <h6>71 Pilgrim Avenue Chevy Chase, MD 20815</h6>
                        <div class="map-box">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div> <small class="text-muted p-t-30 db">Social Profile</small>
                        <br/>
                        <button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
                        <button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button>
                        <button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button>
                    </div>
                </div>

                <div>
                    <hr> </div>

                <form class="form p-t-20" 
                    [formGroup]="profileForm"
                    (submit)="updateProfile()">

                    <div class="form-group">
                        <h4 class="card-subtitle">Settings</h4>
                        <h6 class="card-subtitle">Change Information</h6>
                        <label for="exampleInputuname">Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" 
                                   class="form-control" 
                                   id="exampleInputuname" 
                                   placeholder="Username"
                                   formControlName="name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname">Last Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" 
                                   class="form-control" 
                                   id="exampleInputuname" 
                                   placeholder="Last Name"
                                   formControlName="lastName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" 
                                   class="form-control" 
                                   id="exampleInputEmail1" 
                                   placeholder="Enter email"
                                   formControlName="email">
                        </div>
                    </div>
                    <button type="submit" 
                            class="btn btn-success btn-block waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">User Image</h6>
                <div class="text-center">
                    <img *ngIf="!imgTem" [src]="user.imagenUrl" class="img-avatar">
                    <img *ngIf="imgTem" [src]="imgTem" class="img-avatar">
                </div>
                
                <input type="file"
                       (change)="changePhoto($event)">

                <br>
                <br>

                <button type="submit" 
                        class="btn btn-success waves-effect waves-light m-r-10"
                        [disabled]="!uploadImage"
                        (click)="uploadImagen()">
                    <i class="fa fa-save"></i>
                    Change image
                </button>
            </div>
        </div>
    </div>
</div>