<!-- sample modal content -->
<div class="modal-show animated fadeIn fast"
    [class.hide]="modalImagenService.hideModal">
    
    <div id="responsive-modal" 
    class="modal fade show" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="myModalLabel" 
    aria-hidden="true" 
    style="display: block;">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-header">
               <h4 class="modal-title">Change Image</h4>
               <button type="button" 
                       class="close cursor" 
                       data-dismiss="modal" 
                       aria-hidden="true"
                       (click)="closeModal()">×</button>
           </div>
           <div class="modal-body">
               <h3>Select a new Profile Image</h3>

               <div class="text-center">
               <img *ngIf="!imgTem" [src]="modalImagenService.img" class="img-avatar"> 
                <img *ngIf="imgTem" [src]="imgTem" class="img-avatar">
            </div>
            
            <input type="file"
                   (change)="changePhoto($event)">

           </div>
           <div class="modal-footer">
               <button type="button" 
                       class="btn btn-default waves-effect" 
                       data-dismiss="modal"
                       (click)="closeModal()">Cancel
                </button>
               <button type="button" 
                       class="btn btn-danger waves-effect waves-light">Save changes
                </button>
           </div>
       </div>
   </div>
</div>
</div>


<!-- /.modal -->