/* You can add global styles to this file, and also import other style files */
.fast{-webkit-animation-duration:0.3s;
    animation-duration:0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both}


#themecolors .selector, .cursor{
    cursor: pointer;
}

.img-avatar{
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.w100{
    width: 100px;
}

.w140{
    width: 140px;
}

.w200{
  width: 200px;
}

.modal-show{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.swal2-container {
  z-index: 10000 !important;
}

.hide{
    display: none;
}

.home{
    background-color: black
}

.green-color{
  color: greenyellow !important;
}

.confirmed {
  background-color:#06d79c;
}

 

/* -------- */


.checker {
  display: block;
  font-size: 10vmin;
  height: 0.2em;
  width: 0.5em;
  box-sizing: content-box;
  padding: 0.15em;
  border-radius: 0.25em;
  transition: transform var(--duration) ease;
  cursor: pointer;
}

.checkmark {
  width: 0.2em;
  height: 0.2em;
  transition: transform var(--duration) ease;
  transform: translateX(-0.4em);
  z-index: 5;
}

.checkmark svg {
  display: block;
  background: #e5e5e5;
  transform: translateX(0.4em);
  border-radius: 0.15em;
  transition: background-color var(--duration) ease, transform calc(var(--duration) * 1.5) ease;
}
.checkmark svg path {
  stroke-dasharray: 90 90;
  stroke-dashoffset: 90;
  transition: stroke-dashoffset calc(var(--duration) / 3) linear calc(var(--duration) / 3);
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  visibility: hidden;
}
.checkbox:checked ~ .checkmark {
  transform: translate(0.7em);
}
.checkbox:checked ~ .checkmark svg {
  background: #77c44c;
  transform: translate(-0.4em);
}
.checkbox:checked ~ .checkmark svg path {
  stroke-dashoffset: 0;
}

.check-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: white;
  z-index: 2;
}
.check-bg:before, .check-bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.check-bg:after {
  background: white;
}
.check-bg:before {
  transition: transform var(--duration) ease;
  transform: translateY(30%);
  transform-origin: bottom center;
  background: black;
  filter: blur(0.25em);
  opacity: 0.2;
  z-index: -1;
}

.checker.checker:active {
  transform: scale(0.85);
  transition-duration: calc(var(--duration) / 2);
}
.checker.checker:active .check-bg::before {
  transform: translateY(0) scale(0.8);
  opacity: 0.2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}



/* --------*/


#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}


.ulCardCard {

  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  
}

.ulCard .booking-card {
  position: relative;
  width: 300px;
  display: flex;
  flex: 0 0 300px;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #0a4870;
  transition: 0.3s;
}

.ulCard .booking-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 72, 112, 0);
  transition: 0.3s;
}

.ulCard .booking-card .book-container {
  height: 200px;
}
.ulCard .booking-card .book-container .content {
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: translateY(-200px);
  transition: 0.3s;
}
.ulCard .booking-card .book-container .content .btn {
  border: 3px solid white;
  padding: 10px 15px;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.ulCard .booking-card .book-container .content .btn:hover {
  background:#2373E2;
  border: 0px solid white;
  color: white;
}


.btn2 {
  border: 3px solid #2373E2;
  padding: 10px 15px;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color:#2373E2;
  cursor: pointer;
  transition: 0.3s;
}
.btn2:hover {
  background:#2373E2;
  border: 0px solid white;
  color: white;
}

.ulCard .booking-card .informations-container {
  flex: 1 0 auto;
  padding: 20px;
  background: #f0f0f0;
  transform: translateY(206px);
  transition: 0.3s;
}
.ulCard .booking-card .informations-container .title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
.ulCard .booking-card .informations-container .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 50px;
  margin: auto;
  background: #0a4870;
}
.ulCard .booking-card .informations-container .price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.ulCard .booking-card .informations-container .price .icon {
  margin-right: 10px;
}
.ulCard .booking-card .informations-container .more-information {
  opacity: 0;
  transition: 0.3s;
}
.ulCard .booking-card .informations-container .more-information .info-and-date-container {
  display: flex;
}
.ulCard .booking-card .informations-container .more-information .info-and-date-container .box {
  flex: 1 0;
  padding: 15px;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  font-weight: bold;
  font-size: 0.9em;
}
.ulCard .booking-card .informations-container .more-information .info-and-date-container .box .icon {
  margin-bottom: 5px;
}
.ulCard .booking-card .informations-container .more-information .info-and-date-container .box.info {
  color: #ec992c;
  margin-right: 10px;
}
.ulCard .booking-card .informations-container .more-information .disclaimer {
  margin-top: 20px;
  font-size: 0.8em;
  color: #7d7d7d;
}
.ulCard .booking-card:hover::before {
  background: rgba(10, 72, 112, 0.6);
}
.ulCard .booking-card:hover .book-container .content {
  opacity: 1;
  transform: translateY(0px);
}
.ulCard .booking-card:hover .informations-container {
  transform: translateY(0px);
}
.ulCard .booking-card:hover .informations-container .more-information {
  opacity: 1;
}

@media (max-width: 768px) {
  .ulCard .booking-card::before {
    background: rgba(10, 72, 112, 0.6);
  }
  .ulCard .booking-card .book-container .content {
    opacity: 1;
    transform: translateY(0px);
  }
  .ulCard .booking-card .informations-container {
    transform: translateY(0px);
  }
  .ulCard .booking-card .informations-container .more-information {
    opacity: 1;
  }
}



