/* You can add global styles to this file, and also import other style files */
.fast{-webkit-animation-duration:0.3s;
    animation-duration:0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both}


#themecolors .selector, .cursor{
    cursor: pointer;
}

.img-avatar{
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.w100{
    width: 100px;
}

.w140{
    width: 140px;
}

.modal-show{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.hide{
    display: none;
}

.home{
    background-color: black
}